$background: #121212;  // Dark background
$surface: #1e1e1e;     // Dark surface for elements
$text-primary: #e0e0e0; // Light gray text for primary content
$text-secondary: #ffffff; // Medium gray text for secondary content
$text-muted: #616161;   // Muted gray text for lesser importance
$text-primary-light: #ffffff;  // Pure white text for contrast with dark elements
$border: #333333;       // Darker border for dark theme
$highlight: #c77700;    // Orange highlight
$highlight-secondary: #352412; // even lighter orange highlight
$highlight-primary: #df902a; // Lighter orange highlight
$highlight-terciary: #d86f06; // Dark orange for table headers
$text-low-contrast: #202020;
$navBg: rgb(39, 32, 26);

$button-update-color: #ffffff;
$button-update-background: rgb(99, 148, 21);

$button-delete-color: #ffffff;
$button-delete-background: rgb(148, 29, 21);

$tr-hover-background: rgb(15, 70, 52);