body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $background;
    color: $text-primary;
    margin: 0%;
}

table {
    background-color: black;
    margin-left: 30px;
    margin-top: 30px;
    border-spacing: 2px;  /* Adds space between table cells */
}

th {
    background-color: $highlight-terciary;  /* Darker background for header */
    color: $text-primary-light;         /* Lighter text color for contrast */
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    .button{
        cursor: pointer;
    }
}

.button-container {
    //display: flex;
    //flex-direction: column;  /* Arrange images in a column */     /* Space between text and images */
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.button-container img.button{
    background-color: rgba(0,0,0,0);
    margin: -4px;
    padding: 0%;
    width: 16px;
    height: 16px;
}

.th-content{
    display: flex;
    align-items: center;
    justify-content: center
}

td {
    text-align: left;  /* Left-align table data */
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

tr {
    padding: 0%;  /* No padding for rows */
}

tr:nth-child(even) {
    background-color: $surface;  /* Light surface color for even rows */
}

tr:nth-child(odd) {
    background-color: $highlight-secondary;  /* Dark blue background for odd rows */
    color: $text-secondary;  /* Lighter text for better contrast */
}

canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

.button {
    border: none;
    color: $text-low-contrast;  // Primary text color for the button
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: $highlight-primary;  // Lighter blue for button background
    cursor: pointer;
}

.topnav {a.button{
        margin-left: 20px;
        margin-right: 10px;
        white-space: nowrap;
}}

.button:hover {
    opacity: 80%;  // Hover effect for buttons
}

a.button.active {
    background-color: $highlight;  // Active state with brighter highlight color
}

.topnav {
    background-color: $navBg;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%; /* ensures it stretches across the screen */
    display: flex; /* Use flexbox for the layout */
    justify-content: space-between; /* Separates left and right sections */
    align-items: center;

    .right {
        font-size: large;
        display: inline-flex;
        justify-content: flex-end; /* Aligns items inside .right to the end */
        margin-right: 40px; /* This adds spacing between the content in .right and the edge */
        width: 100%; /* Allows proper alignment if needed */
    }
}

.topbar{
    margin: 30px;
    padding: 10px;
    color: $text-primary;
    background-color: $highlight-secondary;
    font-size: 20;
}

$form_widht: 200px;

form{
    width: $form_widht;
    position: relative;
    left: 50%;
    transform: translate((-0.5*$form_widht), 0);
    input{
        width: $form_widht;
        margin-bottom: 20px;
    }
}

.home-content{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    table{
        margin-left: 0;
        margin-right: 30px;
        display: inline-flex;
        justify-content: flex-end;
        tr:hover{
            background-color: $tr-hover-background;
        }
    }
    .button{
        margin: 0;
        width: 200px;
    }
}

ul{
    margin: 0;
    padding-inline-start: 0;
}

.button-update{
    background-color: $button-update-background;
    color: $button-update-color;
}

.button-delete{
    background-color: $button-delete-background;
    color: $button-delete-color;
}


.td-button{
    padding: 0;
}